* {
  font-family: Roboto;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  background-color: #1f2937;
}

footer {
  background-color: #1f2937;
  height: 50px;
  line-height: 50px;
}

.nav-logo {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 750;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link-text {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header-link-text-center {
  padding: 0px 20px;
}

.hero-main {
  background-color: #1f2937;
  display: flex;
  padding: 100px 200px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text {
  margin-right: 100px;
}

.hero-button {
  border: none;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 40px;
}

.hero-img {
  margin-left: 100px;
}

.info-section {
  padding-bottom: 70px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 30px 0px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.info-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

.info-card img {
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.info-card-text {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}

.testimonial-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px 300px;
}

.testimonial-quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin: 0 auto;
}

.testimonial-signature {
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
  text-align: end;
  margin-top: 0px;
}

.cta-section {
  height: 300px;
  display: flex;
  align-items: center;
}

.cta-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 200px;
  padding: 0 30px;
  border-radius: 10px;
  height: 100px;
  width: 70vw;
}

.cta-button {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 40px;
}

.cta-text h2 {
  color: #f9faf8;
  font-weight: 400;
  margin: 0 auto;
}

.cta-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 auto;
}

footer p {
  color: #f9faf8;
  text-align: center;
  vertical-align: middle;
}
